#recovery {
    max-width: 360px;
    margin: auto;
}

#choose-partpass .description {
    padding: 10px;
    background-color: InfoBackground;
    border: solid 1px #cdcdcd;
    margin: 20px auto;
}

#recovery #search {
    font-size: 13px;
    width: 300px;
    height: 34px;
    line-height: 18px;
    border: 1px solid #999999;
    border-radius: 4px;
    margin-bottom: 16px;
    margin-right: 0 !important;
    padding-left: 10px;
}

#recovery .label {
    text-align: left;
    padding-left: 24px;
    margin-bottom: 10px;
}

#recovery .registration-link {
    padding-bottom: 20px;
    margin: 20px auto;
}

#choose-partpass table.res {
    width: 100%;
}

#choose-partpass table.res button {
    width: 100%;
}


#choose-partpass table.res td {
    padding: 5px 2px;
}

#recovery .recovery-form {
    margin: 180px auto auto;
    color: #222;
    width: 360px;
    max-height: 400px;
    font-size: 14px;
}
#recovery span.legend {
    display: block;
    font-size: 18px;
    font-weight: bold;
    line-height: 36px;
    text-align: left;
    color: #366383;
    margin-bottom: 24px;
    padding-left: 24px;
    padding-top: 24px;
}

#recovery button {
    width: 300px;
}

#choose-partpass td.btn {
    width: 100px;
}