#slider_dev .hero_slider_dev {
  position: relative;
  margin: 30px 0;
  overflow: hidden;
  width: 100%;
  height: 350px;
}

#slider_dev .slide_dev {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  transition: left 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0f0f0;
}

#slider_dev .slide_dev a {
  display: block;
  width: 100%;
  height: 100%;
}

#slider_dev .slide_dev img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* можно поменять на contain, если хочешь видеть всё изображение */
  border-radius: 8px;
}

#slider_dev .slide_dev.active {
  left: 0;
  z-index: 1;
}

#slider_dev .slide_dev.prev_dev {
  left: -100%;
  z-index: 0;
}

#slider_dev .nav_dev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.3);
  border: none;
  font-size: 30px;
  padding: 10px;
  cursor: pointer;
  z-index: 2;
  color: #f0f0f0;
  transition: 0.3s ease;
}
#slider_dev .nav_dev.prev_dev:hover {
  backdrop-filter: blur(5px);
}
#slider_dev .nav_dev.next_dev:hover {
  backdrop-filter: blur(5px);
}
#slider_dev .nav_dev.prev_dev {
  border-radius: 0px 8px 8px 0px;
  left: 0px;
}

#slider_dev .nav_dev.next_dev {
  border-radius: 8px 0px 0px 8px;
  right: 0px;
}

@media (max-width: 768px) {
  #slider_dev .hero_slider_dev {
    height: 220px;
  }
  #slider_dev .slide_dev img {
  }
  #slider_dev .nav_dev {
    font-size: 24px;
    padding: 8px 12px;
  }
}
