.ngx-gallery-thumbnails-wrapper {
  top: 12px;
  left: 12px;
  right: 12px;
  bottom: 5px;
  width: auto !important;
  height: auto !important;

  .ngx-gallery-thumbnail {
    cursor: pointer;
    border-radius: 8px;
    border: 2px solid transparent;
    transition: border .15s ease-in-out;

    &.ngx-gallery-active {
      border-color: #3068e8;
    }
  }
}