/*
  ###
  ###   samo.main.css содержит основные стили модуля
  ###
*/

.btn-group {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
}
.btn-group > .btn:not(:last-child):not(.dropdown-toggle),
.btn-group > .btn-group:not(:last-child) > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.btn-group > .btn:not(:first-child),
.btn-group > .btn-group:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/*
  Header
*/
.btn__language .country__flag {
  position: relative;
  display: block;
  overflow: hidden;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, .2);
}
.btn__language .country__flag img {
  position: absolute;
  top: -6px; left: -6px;
  width: 32px !important;
  height: 32px !important;
  margin: 0;
}

.hotel-stars {
  margin: 0;
  color: #FFD600;
  font-size: 14px;
  font-weight: 600;
}

@media (max-width: 991.98px) {
  .btn__language .country__flag img { height: 16px; }

  .searchmode-box .hbox {
    position: absolute;
    top: 52px !important;
    bottom: initial;
  }
  .searchmode-box .hbox-content {
    border-radius: inherit;
    overflow: visible;
  }
  .searchmode-box .hbox-content .btn-cross {
    position: absolute;
    top: -52px;
    right: 18px;
  }
  .searchmode-box .hbox-content .btn-cross::before,
  .searchmode-box .hbox-content .btn-cross::after {
    height: 4px;
    background-color: #fff;
  }
}
/*
  End: Header
*/

/*
  Search Form
*/
.search-form {
  position: relative;
  width: auto;
  /*max-width: 910px;*/
  margin: 20px auto;
  background-color: #f5f5f5;
  border-radius: 6px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, .1);
  user-select: none;
  z-index: 7;
}
.view-search {
  position: relative;
  padding: .1px 0;
}
.view-search::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(220, 50%, 60%, .1);
  background-image: url('../img/bg.jpg');
  background-position: center 30%;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, .1);
}

.search-form__row {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  background-color: hsl(0, 0%, 97%);
  border-radius: inherit;
}
.search-form__row:last-child:not(:first-child) {
  border-top: 1px solid #eee;
}

.form-part .form-part__departure .form-part__label {
  padding: 9px 12px;
  color: #9e9e9e;
  font-size: 13px;
}
.form-part:hover .form-part__departure .form-part__label {
  color: #9e9e9e;
}

.form-part .form-part__departure .ng-select.custom .ng-select-container {
  color: #3068e8;
  border: 0;
  border-radius: 0;
}
.form-part .form-part__departure .ng-select.custom .ng-select-container:hover { box-shadow: none; }

.form-part__direction .select__country .country__flag     { margin-right: 12px; }
.form-part__direction .select__country .country__flag img { width: 32px !important; height: 32px !important; }

.search-form__main {
  background-color: #fff;
}
.search-form__main .form-part {
  border-color: #f5f5f5;
}
.search-form__row .checkbox {
  margin: 0;
}
.search-form__row .checkbox label {
  display: block;
  color: inherit;
  font-size: 14px;
}
.search-form__row .checkbox .form-part__input {
  padding: 4px 0 0 28px;
  font-weight: 400;
  line-height: 1;
}

.form-part {
  position: relative;
  padding: 0;
  flex: 2 1;
  border-right: 1px solid #eee;
}
.form-part:last-child              { border-right: 0; }
.form-part:hover                   { cursor: pointer; }
.form-part:hover .form-part__label { color: #3068e8; }
.form-part.--thin                  { flex: 1 1; }
.form-part.--fat                   { flex: 3 1; }

.form-part__label {
  display: block;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
  /*position: absolute;*/
  margin: 0;
  padding: 8px 12px 0 12px;

  color: #9e9e9e;
  font-size: 12px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  transition: color .25s ease;
}
.form-part__input {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  padding: 2px 12px 8px;
  /*height: 100%;*/
  margin: 0;
  /*padding: 28px 12px 12px 12px;*/

  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;

  border: 0;
  z-index: 7;
}
.form-part__input:hover {
  cursor: pointer !important;
}
.form-part__input:focus {
  outline: none;
}

.form-select {
  padding: 0;
  margin: 0;
  list-style: none;
}
.form-select.--scroll {
  width: auto;
  height: 100%;
  max-height: 320px;
}
.form-select hr {
  opacity: .2;
}
.form-select__item {
  padding: 6px 12px;

  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
li.form-select__item:hover,
.form-select__item.active {
  cursor: pointer;
  background-color: hsla(0, 0%, 80%, .2) /*hsl(0, 0%, 97%)*/;
}
.form-select__item.--has-icon .checkbox label         { padding-left: 60px; }
.form-select__item .icon {
  position: absolute;
  top: 0; left: 2rem;
  padding: 0;
  width: 20px;
  height: 20px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  z-index: 1;
}
.form-select__item .t__link { color: #1e88e5; }
.language-box .form-select__item img { margin-right: 12px; }

.another-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}
.another-field:first-child { margin-top: 0; }
.another-field .t-content  { margin: 0; }

@media (max-width: 991.98px) {
  .btn                         { height: 48px; }

  .search-form                 { margin: 0 auto; }
  .search-form__row            { display: block; }
  .search-form__row:last-child { border: 0; }
  .search-form__top            { top: -73px; }

  .view-search                 { position: initial; }

  .form-part {
    border: 0;
    border-bottom: 1px solid #eee;
  }
  .form-part:last-child { border: 0; }
  .form-part__label {
    font-size: 14px;
  }
  .form-part__input {
    /*padding-top: 34px;*/
    font-size: 16px;
  }

  .form-part__departure,
  .form-part__searchmode { border: 0; }

  .form-select.--scroll {
    display: flex;
    flex-direction: column;
    max-height: none !important;
  }
  .form-select__item {
    padding: 12px;
    white-space: normal;
    text-overflow: inherit;
  }

  .another-field { margin: 20px 0; }
  .another-field .t-content { font-size: 16px; }
}
/*
  End: Search Form
*/

/*
  Results Modal
*/
.results-modal {
  position: fixed;
  display: none;

  overflow-x: hidden;
  overflow-y: auto;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 60px 0;
}
.results-modal.-active- {
  display: block;
  background-color: rgba(0, 0, 0, .7);
  z-index: 7777;
}

.results-modal .t-title {
  display: block;
  margin: 0;
  padding: 16px 0;
  font-size: 16px;
  font-weight: 600;
}
.results-modal .hbox {
  position: relative;
  margin-top: 0;
  box-shadow: 0 0 transparent;
}
.results-modal .hbox::before {
  display: none;
}
.results-modal .hbox-content {
  padding: 0;
}

.modal-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;

  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, .2);
  animation: mfadeInDown .25s ease-in-out;
}
.modal__header {
  display: flex;
  padding: 16px;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
}
.modal__close {
  position: absolute;
  top: 16px; right: 16px;
  border-radius: 50%;
  z-index: 777;
}
.modal__body        { position: relative; padding: 0; border-radius: 6px; }
.modal__footer {
  padding: 16px;
  text-align: center;
}

@media (min-width: 1440px) {
  .results-modal .container { max-width: 1140px; }
}

@media (max-width: 991.98px) {
  .results-modal.-active- {
    display: block;
    padding: 15px 0;
  }
}
/*
  End: Results Modal
*/

/*
  Badges
*/
.badge {
  display: inline-block;
  padding: 1px 4px;
  margin: 0px 6px;

  color: #fff;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  line-height: 1;

  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 4px;
}

/* custom */
.badge.--stop-sale { background-color: #FF5252; }
.badge.--moment    { background-color: #1e88e5; }
.badge.--available { background-color: #66BB6A; }
.badge--tour    { padding: 4px 6px; margin: 0; }
.badge--place   { padding: 4px 6px; margin-left: 12px; }
.badge--program {
  display: inline-block !important;
  cursor: pointer;
  margin: 0 6px 0 0;
  padding: 0;
  width: 8px;
  height: 8px;
  background-color: #3068e8;
  border-radius: 50%;
  opacity: .7;
}
.badge--round   {
  position: absolute;
  top: 50%; left: 0px;
  padding: 4px;
  width: 28px;
  height: 28px;
  font-size: 16px;
  border-radius: 50%;
  border: 2px solid #fff;
  transform: translate(-50%, -50%);
  z-index: 1;
}
@media (max-width: 991.98px) {
  .badge--place { margin: 0; }
}
/*
  End: Badges
*/

/*
  Hotel Gallery
*/
.hotel-gallery.slick-slider .slick-slide img {
  margin: 0 auto;
}
.hotel-gallery.slick-slider .slick-track {
  display: flex;
  align-items: center;
}

.hotel-thumbnails.slick-slider {
  margin: 12px;
}
.hotel-thumbnails.slick-slider .slick-track {
  display: flex;
  align-items: center;
}
.hotel-thumbnails.slick-slider .prev-slide,
.hotel-thumbnails.slick-slider .next-slide {
  top: 0;
  width: 40px;
  height: 100%;
  transform: none;
}
.hotel-thumbnails.slick-slider .prev-slide:before,
.hotel-thumbnails.slick-slider .next-slide:before {
  font-size: 20px;
}
.hotel-thumbnails.slick-slider .slick-slide {
  width: auto !important;
  padding: 0 2px;
  outline: none;
}
.hotel-thumbnails.slick-slider .slick-slide img {
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid transparent;
  transition: border .25s ease-in-out;
}
.hotel-thumbnails.slick-slider .slick-slide img:hover,
.hotel-thumbnails.slick-slider .slick-slide.slick-current img {
  border: 2px solid #3068e8;
}

@media (max-width: 991.98px) {
  .hotel-thumbnails.slick-slider {
    display: none;
  }
}

/* Images size */
.hotel-gallery.slick-slider .slick-slide img    { max-width: 100%; }
.hotel-thumbnails.slick-slider .slick-slide img { max-width: 100%; }

@media (max-width: 767.72px) {
  /*.hotel-gallery.slick-slider .slick-slide img    { height: 740px; }
  .hotel-thumbnails.slick-slider .slick-slide img { height: 72px; }*/
}
@media (min-width: 768px) and (max-width: 991.72px) {
  /*.hotel-gallery.slick-slider .slick-slide img    { height: 740px; }
  .hotel-thumbnails.slick-slider .slick-slide img { height: 72px; }*/
}
@media (min-width: 992px) and (max-width: 1199.72px) {
  .hotel-gallery.slick-slider .slick-slide img    { height: 740px; }
  .hotel-thumbnails.slick-slider .slick-slide img { height: 72px; }
}
@media (min-width: 1200px) {
  .hotel-gallery.slick-slider .slick-slide img    { height: 740px; }
  .hotel-thumbnails.slick-slider .slick-slide img { height: 72px; }
}
/*
  End: Hotel Gallery
*/
