:root {
    /* Фон */
    --light-bg-color: #F5F7FA;
    --dark-bg-color: #0A0C0F;
    --dark-accent-bg-color: #1f252e;
    --contrast-bg-color: #414E62;

    /* Текст */
    --main-text-color: #414E62;
    --mute-text-color: #919FB6;
    --bright-text-color: #FFFFFF;
    --warning-text-color: #FFB300;
    --danger-text-color: #F5222D;

    /* Карточки */
    --card-bg-color: #FFFFFF;
    --card-border-color: #ebebeb;

    /* Иконки */
    --mute-icon-color: #C8CFDA;
    --main-icon-color: #414E62;
    --primary-icon-color: #1890ff;

    /* Кнопки */
    --mute-button-bg-color: #F5F7FA;

    /* Прочее */
    --warning-bg-color: #fffbe6;
    --warning-border-color: #ffe58f;

    /* Бэйджи */
    --primary-badge-bg-color: #3355ff1a;

    /*
        Hotelbooking
    */
    /* Текст */
    --primary-text-color: #237804;
    
    /* Кнопки */
    --main-button-text-color: #FFFFFF;
    --main-button-bg-color: #237804;
    --main-hover-button-bg-color: #33a30a;
    --main-active-button-bg-color: #1b5705;
    
    --main-button-alt-text-color: #237804;
    --main-hover-button-alt-bg-color: #2277041a;
}
