<IfModule mod_expires.c>  
    ExpiresActive On 
    ExpiresDefault "access plus 10 years" 
</IfModule>
<IfModule mod_headers.c>
    Header append Cache-Control "public" 
</IfModule>
<IfModule mod_mime.c>
	AddType "text/html; charset=utf-8" .html .html
	AddType "text/javascript; charset=utf-8" .js
	AddType "text/css; charset=utf-8" .css
</IfModule>